<div class="mx-auto flex w-full max-w-3xl flex-col gap-6">
  <% if flash[:notice].present? %>
    <%= render FlatPack::Alert::Component.new(style: :success, title: flash[:notice]) %>
  <% end %>

  <% if flash[:alert].present? %>
    <%= render FlatPack::Alert::Component.new(style: :error, title: flash[:alert]) %>
  <% end %>

  <%= render FlatPack::Breadcrumb::Component.new(
    show_back: true,
    back_text: "Back",
    back_icon: "chevron-left",
    back_href: main_app.root_path
  ) %>

  <%= render FlatPack::PageTitle::Component.new(
    title: "Change #{@root_type_label}",
    variant: :h1
  ) %>

  <% if @available_roots.empty? %>
    <%= render FlatPack::Alert::Component.new(
      style: :info,
      title: @page_copy.fetch(:empty_state_title),
      description: @page_copy.fetch(:empty_state_body)
    ) %>
  <% else %>
    <%= render FlatPack::Card::Component.new(style: :default, class: "w-full") do |card| %>
      <% card.body do %>
        <%= render FlatPack::List::Component.new(selectable: true, class: "w-full") do %>
          <% @available_roots.each do |root_recording| %>
            <% selected = @selected_root&.id == root_recording.id %>
            <% trailing_content = capture do %>
              <% if selected %>
                <%= render FlatPack::Badge::Component.new(
                  text: @page_copy.fetch(:selected_badge),
                  style: :primary,
                  size: :sm
                ) %>
              <% else %>
                <%= form_with url: root_switch_path(scope: @scope.key), method: :patch, local: true do %>
                  <%= hidden_field_tag "root_switch[root_recording_id]", root_recording.id %>
                  <% if params[:return_to].present? %>
                    <%= hidden_field_tag "root_switch[return_to]", params[:return_to] %>
                  <% end %>
                  <%= render FlatPack::Button::Component.new(
                    text: "Change",
                    style: :default,
                    size: :sm,
                    type: "submit"
                  ) %>
                <% end %>
              <% end %>
            <% end %>

            <%= render FlatPack::List::Item.new(
              hover: true,
              trailing: trailing_content.presence
            ) do %>
              <div class="font-semibold">
                <%= @scope.root_label_for(controller: self, actor: RecordingStudio::RootSwitchable::Current.actor, device_key: current_root_device_key, recording: root_recording) %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
